body {
    background-color: #063a4d;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 1px;
    margin: 0;
    padding: 0 25px 50px;
}

.hidden {
    display: none;
}

li {
    color: #fff;
    font-size: 1.2em;
}

li.chapter-title {
    color: #fff;
    cursor: pointer;
}

li.chapter-title:hover {
    color: #23a6d5;
}

a {
    color: #fff;
}

a:visited {
    color: #fff;
}